@CHARSET "windows-1255";

h3 {
  text-overflow: ellipsis !important;
  word-wrap: break-word  !important;
  overflow: hidden  !important;
  max-height: 3.6em  !important;
  line-height: 1.8em  !important;
}

p {
  text-overflow: ellipsis !important;
  word-wrap: break-word  !important;
  overflow: hidden  !important;
  max-height: 5.6em  !important;
  line-height: 1.8em  !important;
}